* {
    box-sizing: border-box;
}

html, body {
    margin: 0;
    min-height: 100dvh;
    width: 100%;
    background-color: #016f32;
    color: white;
    text-align: center;
  height: 100%;
    overflow-x: hidden;
    /* garante que não tenha scroll lateral */
}

h1 {
    color: goldenrod;
    font-size: larger;
}

.container {
    display: flex;
    justify-content: center;
    gap: 10px;
    height: 80%;
    width: 95vw;
}

#dealer,
#jogador {

    height: 100%;
    width: 40%;
    justify-content: center;
    align-items: center;
    font-size: 2rem;
}

#meio {

    height: 100%;
    width: 20%;
}
#botoes{
    width: 100%;
}

.box {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#message-el {
    font-style: italic;
}

button {
    color: #016f32;
    width: 100%;
    background: goldenrod;
    font-weight: bold;
    border: none;
    border-radius: 2px;
    margin-bottom: 2px;
    margin-top: 2px;
    height: 50px;
    font-size: large;
}

body {
    background-color: #016f32;
}

@media (max-width: 600px) {
    .container {
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 95%;
        max-width: 480px;
        margin: 0 auto;
        height: 100vh;
    }
    #meio{
        width: 100% ;
        height: 10%;
    }
    #dealer,
    #jogador{
        width: 100%;
        max-width: 420px;
        height: 40%;
    
    }
     #botoes {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        gap: 1px
    }
     #botoes button {
        flex: 1;           
        max-width: 120px;  
        margin: 0;         
        height: 50px;      
    }
}